body{
  margin: 0;
}

.container{
  background-color: hsl(225, 6%, 25%);
  height: 100vh;
  text-align: center;
  padding: 10em 0em;
}

.loginRegistrationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer{
  flex: 1;
}

.registrationContainer{
  flex: 1
}

.window-container{
  display: flex;
}

.window{
  height: 100vh;
}

.code-window{
  background-color: hsl(225, 6%, 25%);
  width: 40%;
  padding: 0em .5em;
  height: 100vh;
}

.display{
  width: 100%;
  overflow: hidden;
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  background-color: hsl(225, 6%, 25%);
  flex-shrink: 0;
}

.CodeMirror{
  height: 75vh !important;
}

.editor-wrapper{
  flex: 1;
  overflow: hidden;
}
